.tech-icon {
  height: em(70);
  width: em(70);
  color: c(grey-700);
  background: c(grey-100);
  padding: 0.75rem;
}
.about {
  background: c(grey-700);
  color: c(grey-100);
  min-height: 100vh;
  @include mq(lg) {
   margin: 0 auto;
    display: flex;
    //justify-content: center;
    align-items: center;
  }

  .content {
    flex-direction: column;
    background: c(grey-500);
    border-radius: 5px;
  }
  h1 {
    color: c(white);
    text-align: center;
  }
  &-head{
    text-align: center;
  }
  &-text {
    width: 100%;
    padding: 1rem;
  }
  &-logos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1.5em;
    margin-bottom: 2em;
    @include mq(xl){
      padding: 0 12em;
    }

    .full-circle {
      height: em(75);
      width: em(75);
      background: c(grey-100);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      overflow: hidden;
      transform: scale(1);
      transition: transform 500ms cubic-bezier(0.21, -0.77, 0.85, 1.76);
      &:hover {
        // change color and slightly enlarge on hover
        color: c(white);
        transform: scale(1.1) rotate(360deg);
      }
    }
  }
}

.illustration {
  width: 100%;
  height: 100%;
  max-width: 15em;
  max-height: 15em;
  margin-left: auto;
  margin-right: auto;
}
