// set colour styles
$colours: (
        black:#000000,
        white:#ffffff,
        grey-100:#C0C1C1,
        grey-500:#333D48,
        grey-700:#22252C,
        grey-900:#13171b,
        accent:	#42f584,
        primary: #008431,
);
